body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.marker {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 5px;
}

.controller {
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1000;
}